# ============================================================
# Virtual Environments
# ============================================================
.venv/
venv/

# ============================================================
# Python Cache
# ============================================================
__pycache__/
*.py[cod]

# ============================================================
# Environment Variables
# ============================================================
.env

# ============================================================
# VS Code
# ============================================================
.vscode/

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/

# ============================================================
# Logs
# ============================================================
*.log

# ============================================================
# Dataset
# ============================================================
datasets/

# ============================================================
# OS Files
# ============================================================
.DS_Store
Thumbs.db