tensorflow==2.16.1
keras==3.3.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
xgboost==2.1.1
lightgbm==4.5.0
opencv-python==4.10.0.84
Pillow==10.4.0
matplotlib==3.9.2

fastapi==0.115.0
uvicorn==0.30.6
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3

langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
transformers==4.46.2

torch==2.5.1
torchvision==0.20.1

python-dotenv==1.0.1
requests==2.32.3
python-multipart==0.0.9